body{
	background-color: #595A5B ;
	color: #fff;
}
#nav{
	background-color: #7D7F80;
	height: 40px;
}
#nav img{
	width: 50px;
	height: 40px;
	float: left;
}
#nav ul{
	padding-top: 13px;
	padding-left: 10px;
}
#nav li{
	list-style: none;
	float: right;
	padding-right: 10px;
}
#nav a{
	color: #fff;
	text-decoration: none;
}
 
 #main{
 	position: relative;
 	overflow: hidden;
 }
 #main h1{
 	text-align: center;
 }
 #main img{
 	position: absolute;
 	width: 100%;
 	opacity: 0.5;
 }
#main p,h1{
	line-height: 1.5em;
	position: relative;
}
#main p{
	padding: 5px;
}
hr{
	color: #fff;
}
#desc img{
	width: 200px;
	height: 100px;
}
#desc{
  box-sizing: border-box;
}

.column {
  float: left;
  width: 31%;
  padding: 10px;
}
#desc:after{
	content: "";
	display: table;
	clear: both;
}
#img-desc img{
	width: 300px;
	height: 200px;
	float: left;
	margin-right: 15px;
}
#img-desc p{
	line-height: 1.5em;
	align-items: center;
}
.footer{
	float: right;
}
.footer a{
	color: #fff;
}
.footer a:hover{
	color:#C1C3C6
}
#nav .active{
	font-weight: bold;
	color:#C1C3C6 
}
#home-content h1,h3{
	text-align: center;
}
